/* https://colorffy.com/dark-theme-generator */
/* https://www.shapedivider.app/ */

:root {
  --font-size: 1rem;
  --black: #000;
  --white: #fff;



  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #44d62c;
  --color-primary-200: #63db4b;
  --color-primary-300: #7ce064;
  --color-primary-400: #92e57b;
  --color-primary-500: #a6ea91;
  --color-primary-600: #b9efa7;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #1a2317;
  --color-surface-mixed-200: #2f382c;
  --color-surface-mixed-300: #464d43;
  --color-surface-mixed-400: #5d645b;
  --color-surface-mixed-500: #767c74;
  --color-surface-mixed-600: #90958e;

  --shadow: var(--color-primary-100) 0px 1px 8px;
  --statistic-card-size: 80px;
  --statistic-card-border-radius: 18px;
}

html {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-surface-100);
  color: var(--color-primary-500);
  font-size: 100%;
  user-select: none;
}

main {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 24px;
  border-radius: 24px;
}

/* --------------------------------- Header --------------------------------- */

.title-container {
  position: relative;
}

.title-container h1 {
  position: relative;
  z-index: 1;
  font-size: 250%;
  font-weight: 800;
}

.title-shadow-text {
  position: absolute;
  font-weight: 900;
  font-size: 500%;
  color: rgba(255, 255, 255, 0.5);
  top: -105%;
  left: -2%;
  z-index: 0;
  white-space: nowrap;
}

/* ------------------------------- Background ------------------------------- */
.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
  z-index: -2;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 120px;
}

.wave .shape-fill {
  fill: var(--color-primary-600);
}

/* --------------------------------- Footer --------------------------------- */

#img-keyboard {
  position: fixed;
  bottom: 0;
  right: 0;
  object-fit: contain;
  z-index: -1;
  width: 150px;
  height: 150px;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

/* --------------------------------- Effects -------------------------------- */

#success-effect {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/keyboard.svg') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.key-pressed {
  font-size: 48px;
  font-weight: 900;
  position: fixed;
  top: 50%;
  left: 10%;
  z-index: -2;
  opacity: 0.2;
  animation: zoomAnimation 0.5s ease-in-out;
}

@keyframes zoomAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  :root {
    --statistic-card-size: 60px;
    --statistic-card-border-radius: 12px;
  }

  body {
    font-size: 70%;
  }

  main {
    margin-top: 1rem;
  }

  .title-shadow-text {
    font-size: 400%;
  }

  #counter {
    width: 80px;
    height: 80px;
  }

  #counter-text {
    font-size: 1.4rem !important;
  }

  .title-container {
    margin-top: 110px;
  }
}
