body {
  overflow: auto;
}

main {
  max-width: unset !important;
}

.title-container {
  max-width: var(--max-wdith) !important;
  margin: 0 auto;
}

.instructions {
  max-width: var(--max-wdith);
  margin: 0 auto;
  color: #fff;
  text-shadow: 0px 1px 4px var(--color-primary-100);
}

.keyboard-container {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.key {
  --size: 35px;
  border: 1px solid var(--color-surface-100);
  color: var(--color-primary-500);
  font-size: 0.8rem;
  border-radius: 6px;
  transition: background-color 0.3s;
  width: var(--size);
  height: var(--size);
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--color-primary-100) 0px 1px 4px;
  text-align: center;
  padding: 4px;
}

.empty-key {
  --size: 35px;
  width: var(--size);
  height: var(--size);
  padding: 4px;
  margin: 4px;
}

.key-text-sm {
  font-size: 0.8rem;
}

.key.lg {
  width: 80px;
}

.key.xl {
  width: 120px;
}

.key.space {
  flex: 1;
}

.key.active {
  background-color: var(--color-primary-500);
  color: #000;
  /* color: var(--color-primary-600); */
}
